@use "./variables";

.full-clubs.container, .full-students-gov.container, .full-students-un.container {
    max-width: 1200px;
    padding-right: 0;
    padding-left: 10px;
    margin: 0 auto;
}

.full-clubs.container, .full-students-gov.container, .full-students-un.container {
    .aside-grid {
        display: block; 
        @media (min-width: 1024px) { 
            display: grid;
            grid-template-columns: 66% minmax(350px, 33%);
            grid-template-rows: 1fr;
            grid-template-areas: "main aside";
            gap: 32px;
        }
    }
}

.full-clubs, .full-students-gov, .full-students-un {
    &.container {
        display: flex;
        flex-direction: column;
    }
}

.full-clubs {
    &.container {
        padding-bottom: 300px;
        gap: 50px;
    }
}

.full-students-gov, .full-students-un {
    &.container {
        padding-bottom: 100px;
        gap: 60px;
    }
}

.clubs-wrapper, .students-gov-wrapper {
    @media (min-width: 400px) { 
        padding: 20px 15px 15px;
    }
}

.activity-clubs {
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding-top: 100px;
    .card {
        display: flex;
        background: $pure-white;
        padding-bottom: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(53, 53, 53, 0.025);
        margin: 20px auto;
        position: relative;
        z-index: 1;
        opacity: 0;
        transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    }
    
    .card:nth-of-type(odd) {
        transform: translateX(50%);
    }

    .card:nth-of-type(even) {
        transform: translateX(-50%);
    }

    .card.show {
        opacity: 1;
        transform: translateX(0);
    }

    .card.hide:nth-of-type(odd) {
        opacity: 0;
        transform: translateX(-50%); 
    }

    .card.hide:nth-of-type(even) {
        opacity: 0;
        transform: translateX(50%); 
    }
}

.image-section {
    position: absolute;
    top: -28%; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 20px;
    z-index: 3;
    width: 100%;
    height: 40%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: inherit;
    }
}

.content-section {
    flex: 2;
    padding: 70px 0 0 0;
    text-align: justify;
    color: $black;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h3 {
        color: $black;
        font-weight: bold;
        margin-top: 10px;
        position: relative;
        display: inline-block;
    }

    p {
        font-size: 1rem;
        line-height: 1.4;
        @media (min-width: 700px) { 
            font-size: 1.25rem;
        }
    }
}

.decoration-block {
    width: 120px;
    height: 60px;
    display: none;
    gap: 16px;
    align-items: center;

    .decoration {
        width: 55px;
        height: 2.5px;
        background-image: url('/kep/images/club-decoration.svg');
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
    }
}

.text-block {
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.circle {
    right: 50%;
    bottom: 0%;
    transform: translate(50%, 50%);
    width: 40px;
    height: 40px;
    background-color: $blue;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, width 0.4s ease, height 0.4s ease;

    .circle-decoration {
        width: 25px;
        height: 0.88px;
        background-image: url('/kep/images/club-decoration-white.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        transition: transform 0.4s ease;
    }
}

.activity-clubs .card:nth-of-type(even) .circle {
    background-color: $light-blue;
}

.image-section  .name {
    width: 100%;
    text-align: right;
    display: flex;
    gap: 5px;
    padding-top: 20px;
}

.text-block h3, .text-block p {
    margin: 0;
}

.text-block h3 {
    text-transform: uppercase;
}

@media (min-width: 420px) {
    .image-section {
        width: 90%;
        height: 45%;
    }
}

@media (min-width: 500px) {
    .image-section {
        width: 80%;
        height: 55%;
    }

    .content-section {
        padding: 140px 0 0 0;
    }
}


@media (min-width: 600px) {
    .image-section {
        width: 70%;
        height: 55%;
    }

    .activity-clubs .card {
        padding: 50px;
    }

    .decoration-block {
        display: flex;
    }

    .circle {
        width: 50px;
        height: 50px;
    }

    .full-students-gov, .full-students-un {
        &.container {
            gap: 160px;
        }
    }
    
}

@media (min-width: 700px) {
    .image-section {
        width: 70%;
        height: 55%;
    }
}

@media (min-width: 850px) {
    .image-section {
        width: 60%;
        height: 60%;
    }
}

@media (min-width: 1100px) {
    .image-section {
        height: 80%;
        top: -50%;
    }

    .activity-clubs {
        padding-top: 250px;
        gap: 300px;
    }
}


@media (min-width: 1300px) {
    .image-section {
        top: 50%; 
        transform: translateY(-50%); 
        left: -20%;
        width: 40%;
        height: 80%;
    }

    .activity-clubs {
        gap: 60px;
        padding-top: 100px;
        padding-left: 10%;
    }

    .content-section {
        padding: 40px 30px 40px 220px;
    }

    .circle {
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        &:hover {
            width: 30px;
            height: 30px;
            transform: translate(50%, -50%) scale(0.8);
        }

        &:hover .circle-decoration {
            transform: scale(0.9);
        }
    }   

    .full-clubs.container {
        padding-bottom: 200px;
    }
}

