.admin_hero-section {
    padding-top: 24px;
    margin-bottom: 48px;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 48px;
        align-items: center;
        justify-content: space-between;
    }
    .image-wrapper {
        border-radius: 30px;
        width: 100%;
        aspect-ratio: 1.5 / 1;
        img {
            width: 100%;
            min-height: 100%;
        }
    }
    .text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    h1 {
        font-size: 2rem;
    }
    .image-wrapper{
        overflow: hidden;
        position: relative;
        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


.quote {
    background-color: #D3DFFF;
    border-radius: 30px;
    padding: 48px;
    position: relative;
    line-height: 125%;
    margin-top: 48px;
    margin-bottom: 48px;
    i {
        position: absolute;
        font-size: 96px;
        color: $primary;
        &:nth-of-type(1){
            top: -48px;
            left: 24px;
        }
        &:nth-of-type(2){
            bottom: -48px;
            right: 24px;
        }
    }
}

.tabs-section {
    padding: 12px 0 50px;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        justify-content: space-between;
        > div {
            width: 100%;
            &:nth-of-type(1) {
                .tab-btn {
                    padding: 16px 0;
                    &:not(:last-child) {
                        border-bottom: $grey 1px solid;
                    }
                    &.active {
                        color: $primary;
                    }
                }
                h2 {
                    display: inline;
                    background-image: linear-gradient($primary, $primary);
                    background-repeat: no-repeat;
                    background-position: bottom left;
                    background-size: 0% 2px;
                    transition: background-size 500ms ease-in-out, color .5s linear;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 125%;
                    &:hover {
                        background-size: 100% 2px;
                        color: $primary;
                    }
                    
                }
            }
            &:nth-of-type(2) {
                position: relative;
                .image-wrapper {
                    width: 350px;
                    border-radius: 20px;
                    img {
                        height: 130%;
                        min-width: 100%;
                    }
                }
            }
        }
    }
    .image-wrapper{
        overflow: hidden;
        position: relative;
        max-width: 100%;
        height: 340px;
        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .tabs-content {
        min-height: 620px;
    }
    .item {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: .5s all ease ;
        &.active {
            visibility: visible;
            opacity: 1;
            .image-wrapper {
                transform: translateY(0px);
                transition: 0s all ease;
                opacity: 1;
            }
            .text-content {
                a:not(.btn) {
                    transform: translateY(0px);
                    opacity: 1;
                }
                h3 {
                    transform: translateY(0px);
                    opacity: 1;
                }
                p {
                    transform: translateY(0px);
                    opacity: 1;
                }
                >div {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
        .image-wrapper {
            transition: 1s all ease ;
            transform: translateY(-10px);
            opacity: 0;

        }
        .text-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 12px 0;
            a:not(.btn) {
                color: $primary;
                opacity: 0;
                font-weight: 500;
            }
            h3 {
                transition: 1s all ease ;
                transform: translateY(-10px);
                font-size: 32px;
                opacity: 0;
            }
            p {
                transition: 1s all ease ;
                transition-delay: .1s;
                transform: translateY(-10px);
                line-height: 125%;
                opacity: 0;

            }
            > div {
                transition-delay: .2s;
                transition: 1s all ease .1s;
                transform: translateY(-10px);
                display: flex;
                flex-direction: column;
                gap: 12px;
                align-items: flex-start;
                opacity: 0;

            }
        }
    }
}

.administrator-details {
    position: relative;
    background-image: url(../images/waves-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 150px;
    padding-bottom: 24px;
    padding-top: 272px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 24px;
    }
    .text-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: $white;
        max-width: 700px;
        h1 {
            font-size: 2rem;
            font-weight: 600;
        }
        a {
            color: $white;
            text-decoration: underline;
        }
    }
    .image-wrapper{
        overflow: hidden;
        border-radius: 30px;
        width: 95%;
        height: 350px;
        position: absolute;
        top: -100px;
        img {
            width: 100%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.administration-details {
    margin-top: 32px;
   .container {
        display: flex;
        gap: 48px;
        align-items: flex-start;
        flex-direction: column-reverse;
   }
    .text-content {
        h2 {
            margin-bottom: 12px;
        }
        p {
            margin-bottom: 24px;
            line-height: 150%;
        }
   }
}

.menu {
    padding: 24px;
    width: 100%;
    background-color: $pure-white;
    border-radius: 30px;
    h3 {
        font-weight: normal;
        color: $dark-grey;
        padding-bottom: 12px;
    }
    ul {
        display: flex;
        gap: 12px;
        flex-direction: column;
        li {
            line-height: 150%;
        }
        a {
            color: $primary;
        }
    }
}

.quote-section {
    margin: 124px auto;
    .quote {
        max-width: 1300px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px) { 
    .tabs-section {
        .tabs-content {
            min-height: 350px;
        }
        .image-wrapper {
            height: 100%;
        }
        .item {
            flex-direction: row;
            .text-content {
                max-width: calc(100% - 300px);
                padding: 0 24px;
            }
        }
        .container {
            >div {
                &:nth-of-type(2) {
                    .image-wrapper {
                        width: 450px;
                    }
                }
            }
        }
    }
    .administrator-details {
        padding-top: 442px;
        .image-wrapper{
            height: 500px;
            width: 80%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        max-width: 400px;
    }
    .tabs-section {
        margin-bottom: 200px;
        .tabs-content {
            min-height: 450px;
        }
    }
    .administrator-details {
        .image-wrapper {
            width: 70%;
        }
    }
}

@media screen and (min-width: 1124px) {
    .admin_hero-section {
        margin-bottom: 96px;
        .image-wrapper {
            width: 524px;
            height: 524px;
            aspect-ratio: initial;
        }
        .container {
            flex-direction: row;
        }
        .text-content {
            max-width: calc(50% - 48px);
            gap: 24px;
        }
    }
    .quote {
        font-size: 1.5rem;
    }
    .tabs-section {
        padding: 50px 0 100px;
        .container {
            flex-direction: row;
            >div {
                &:nth-of-type(1) {
                    width: calc(45% - 28px);
                }
                &:nth-of-type(2) {
                    .image-wrapper {
                        width: 300px;
                    }
                }
            }
        }
        .item {
            min-height: 450px;
        }
        .image-wrapper {
            height: 440px;
        }
    }
    
}

@media screen and (min-width: 1200px) {
    .administrator-details {
        height: 496px;
        background-position: center;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
        .container {
            position: relative;
            flex-direction: row;
            top: 50%;
            transform: translateY(-50%);
        }
        .image-wrapper{
            width: calc(100% - 700px);
            height: 500px;
            top: auto;
            bottom: -244px;
            right: 0;
        }
    }
    .administration-details {
        .container {
            flex-direction: row;
        }
        .text-content {
            margin-top: 124px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .tabs-section {
        .container > div {
            &:nth-of-type(1) {
                width: calc(50% - 28px);
                h2 {
                    font-size: 2rem;
                }
            }
            &:nth-of-type(2) {
                width: calc(50% - 28px);
            }
        }
    }
    .administrator-details {
        height: 596px;
        .image-wrapper {
            width: 795px;
            height: 676px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .admin_hero-section {
        .image-wrapper {
            width: 724px;
            height: 724px;
        }
        .text-content {
            h1 {
                font-size: 3rem;
            }
        }
    }
    .administrator-details {
        .text-content {
            h1 {
                font-size: 3rem;
            }
        }
    }
    .tabs-section {
        .tabs-content {
            min-height: 450px;
            .text-content {
                height: 450px;
            }
        }
    }
}
