@import "./variables";
custom-header {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    z-index: 100; 
    font-size: 0.85rem;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: $text-dark;
    transition: all 0.4s linear; 
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        bottom: -1px;
        right: 0;
        left: 0;
        transform: translateX(-100%);
        background-color: $grey;
        transition: .6s all ease;
    }
    &:has(.nav-active) {
        .fa-xmark {
            display: block;
            font-size: 2rem;
        }
        .fa-bars {
            display: none;
        }
        &::after {
            transform: translateX(0);
        }
    }
    .fa-xmark {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 1.5rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
    }
    .nav-links { 
        position: absolute;
        max-width: 500px;
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        height: calc(100vh - 75px); 
        width: 100%;
        top: 75px;
        right: 0;
        row-gap: 1.5rem;
        background-color: $white;
        list-style: none;
        padding: 30px;
        transition: all linear .6s;
        transform: translateX(100%);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        &.nav-active {
            transform: translateX(0);
        }
        
        > li {
            text-align: right;
        }
        a, span {
            text-decoration: none;
            color: $text-dark;
            display: inline-block;
            -webkit-tap-highlight-color: transparent;
            &.active {
                color: $primary;
            }
        }
    }
    .logo {
        width: 100px;
        max-height: 50px;
        user-select: none;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .icon {
        color: inherit;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        width: 32px;
        height: 32px;
    }
    .search-button {
        i {
            font-size: 1.25rem;
            transform: translateY(2px);
            color: $primary;
        }
    }
    .burger {
        i {
            color: $primary;
        }
        justify-content: center;
        align-items: center;
        display: flex;
    } 
    .dropdown {
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        span {
            -webkit-tap-highlight-color: transparent;
        }
        i {
            font-size: 0.75rem;
        }
        &.open .dropdown-menu {
            margin-top: 1.5rem;
            display: block;
        }
    }
    .dropdown-menu {
        position: relative;
        display: none;
        right: 18px;
        margin-top: 0;
        -webkit-tap-highlight-color: transparent;
        &::after {
            content: "";
            display: block;
            height: 100%;
            width: 0.5px;
            border-radius: 1px;
            background-color: $dark-grey;
            position: absolute;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
        }
        li {
            padding: 5px 0;
            line-height: 125%;
        }
    }
    .container {
        > div {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

#search {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    visibility: hidden;
    z-index: 1000;
    &.active {
        visibility: visible;
        .overlay {
            transform: translateY(0);
        }
        input {
            transform: translateY(0);
            opacity: 1;
            transition-delay: .4s;
        }
        #close-search {
            transform: translateY(-100px);
            opacity: 1;
            transition-delay: .6s;
        }
    }

    input {
        transform: translateY(-50%);
        width: 80%;
        padding: 12px;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        line-height: 150%;
        outline: none;
        opacity: 0;
        transition: all 0.6s ease;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    transition: transform .5s ease;
}
#close-search {
    position: absolute;
    background-color: $primary;
    border-radius: 50%;
    border: none;
    outline: none;
    color: $white;
    font-size: 24px;
    height: 48px;
    width: 48px;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    opacity: 0;
    transition: all .6s ease;
    cursor: pointer;
}

@media screen and (min-width: 1124px) {
    #search input {
        width: 60%;
    }
    nav {
        .nav-links {
            transform: translateX(0);
            position: static;
            flex-direction: row;
            column-gap: 16px;
            max-width: none;
            width: auto;
            height: auto;
            padding: 0;
            overflow: visible;
            li {
                width: auto;
                a, span {
                    width: auto;
                    pointer-events:all;
                }
            }
        }
        .dropdown {
            &:hover {
                > .dropdown-menu {
                    visibility: visible;
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
            &:nth-last-of-type(1) {
                > .dropdown-menu {
                    max-width: 220px;
                }
            }
        }
        .dropdown-menu {
            display: flex;
            visibility: hidden;
            opacity: 0;
            transform: translateY(-10px);
            transition: .2s all linear;
            position: absolute;
            flex-direction: column;
            text-align: left;
            top: calc(100% - 6px);
            left: -15px;
            min-width: calc(100% + 30px);
            width: max-content;
            padding-top: 35px;
            cursor: default;
            z-index: -1;
            li {
                position: relative;
                padding: 10px 25px 10px 15px;
                cursor: pointer;
                border-top: 1px solid $white;
                background-color: $primary;
                &::before {
                    content: "//";
                    position: absolute;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                    top: 10.5px;
                    color: $white;
                    opacity: 0;
                    transition: .3s all linear;
                }
                &:hover {
                    &::before {
                        opacity: 1;
                    }
                    a {
                        transform: translateX(15px);
                    }
                }
                &:first-child {
                    border-top: 2px solid $grey;
                }
                a {
                    transition: .3s all linear;
                    color: $white;
                    line-height: 150%;
                }
            }
            &::after {
                display: none;
            }
        }
        .burger {
            display: none;
        }
        .logo {
            width: 140px;
            max-height: 70px;
        }
    }
}


@media screen and (min-width: 1440px) {
    custom-header {
        font-size: 1rem;
    }
    nav {
        .container {
            padding: 15px 10px;
        }
        .dropdown {
            .dropdown-menu {
                max-width: max-content;
            }
        }
    }
}