@import "./variables";
header {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    z-index: 100; 
}

nav {
     * {
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    span {
        pointer-events: none;
    }
    i {
        pointer-events: none;
    }
    position: fixed;
    transform: translateY(136px);
    left: 0;
    right: 0;
    background-color: $white;
    color: $text-dark;
    transition: all 0.6s linear; 
    font-size: 20px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px; 
        padding-bottom: 15px; 
    }
    .dropdown-menu {
        max-height: 0;
        overflow-y: hidden;
        flex-direction: column;
        position: relative;
        bottom: calc(100% - 40px);
        transform: translateY(100%);
        background-color: $white;
        transition: all linear .6s;
        z-index: 10; 
        li {
            text-align: right;
            line-height: 150%;
            padding: 10px 20px 10px 10px;
            border-right: 1px solid $border;
        }
    }
    .dropdown {
        position: relative;
        cursor: pointer;
        &.active {
            > .dropdown-menu {
                max-height: 500px;
            }
            > a, span {
                i {
                    transform: rotate(180deg);
                    top: 0;
                    transition: all .2s linear;
                }
            }
        }
        > a, span {
            position: relative;
            display: flex;
            align-items: flex-start;
            i {
                font-size: 15px;
            }
        }
    }
    .nav-links { 
        position: absolute;
        max-width: 400px;
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        height: calc(100vh - 80px);
        width: 100%;
        top: 78px;
        right: 0;
        row-gap: 40px;
        background-color: $white;
        list-style: none;
        padding: 30px;
        transition: all linear .6s;
        z-index: 10;
        transform: translateX(100%);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        &.nav-active {
            transform: translateX(0);
        }
        > li {
            text-align: right;
        }
        a, span {
            text-decoration: none;
            color: $text-dark;
            display: inline-block;
            -webkit-tap-highlight-color: transparent;
            &.active {
                color: $primary;
            }
        }
    }
    .logo {
        width: 115px;
        max-height: 60px;
        user-select: none;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .icon {
        color: inherit;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .burger {
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        display: flex;
    } 
}

@media screen and (min-width: 1024px) {
    nav {
        .dropdown-menu {
            position: absolute;
            bottom: -20px;
            background-color: $white;
            max-width: max-content;
            transition: all linear .2s;
            li {
                text-align: left;
                line-height: 150%;
                border-right: none;
                border-top: 1px solid $border;
            }
        }
        .dropdown {
            > a, span {
                position: relative;
            }
            &:has(.dropdown-menu:hover) {
                > a, span {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
            .dropdown-menu {
                display: flex;
                visibility: hidden;
                opacity: 0;
                max-height: none;
                width: max-content;
                max-width: 250px;
                left: 0;
                li {
                    padding: 10px 20px;
                }
                &:hover {
                    visibility: visible;
                    opacity: 1;
                }
            }
            &.active {
                > .dropdown-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .nav-links {
            transform: translateX(0);
            position: static;
            flex-direction: row;
            column-gap: 25px;
            max-width: none;
            width: auto;
            height: auto;
            padding: 0;
            overflow: visible;
            li {
                width: auto;
                a, span {
                    width: auto;
                    pointer-events:all;
                }
            }
        }
        .burger {
            display: none;
        }
        .logo {
            width: auto;
            max-height: none;
        }
    }
}


@media screen and (min-width: 1440px) {
    nav {
        .container {
            padding: 15px 0;
        }
        .dropdown {
            .dropdown-menu {
                max-width: max-content;
            }
            &:hover {
                > .dropdown-menu {
                    max-width: max-content;
                }
            }
        }
    }
}

@media screen and (min-width: 1170px) {
    nav {
        transform: translateY(80px);
    }
}
