@use "./variables";

#full-psychologist > .wrapper:first-child {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: $pure-white;
    position: relative;
    padding: 10px 20px;
    z-index: 0;
}

.sub-headline-wrapper {
    max-width: 1200px;
    height: 140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    h2 {
        font-size: 2.875rem;  
        font-weight: 600;
    }
}

.faq-container {
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 30px;

    h2 {
        color: $black;
        .highlight {
            color: $blue;
        }
        font-size: 2.5rem;  
        font-weight: 600;
    }

    .faq-items-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h2 {
            font-size: 1.75rem;  
        }
    }

    .faq-item {
        border-radius: 17px;
        background: #FFFFFF;
        cursor: pointer;
        transition: 0.3s;
        position: relative; 
        padding: 15px 30px 15px 15px;

        .faq-question {
            display: flex;
            align-items: center;
            width: 100%;

            .number {
                background: $blue;
                color: white;
                font-weight: bold;
                font-size: 1.5rem;  
                padding: 20px;  
                border-radius: 15px;
                margin-right: 15px; 
            }

            .text {
                flex-grow: 1;
                font-size: 1.5rem; 
            }

            .icon {
                width: 2rem;  
                height: 2rem;  
                background: $blue;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 1.75rem;  
                font-weight: bold;
            }
        }

        .faq-answer {
            display: none;
            padding: 25px 0; 
            color: $black;
            font-size: 1.25rem;  
        }

        .faq-answer.active {
            display: block;
        }
    }

    .faq-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 17px;
        box-shadow: 0px 4px 160px $faq-blue;
        z-index: -1;
    }
}

.psychologist-wrapper {
    margin: 0 auto;
    background: $white;
    padding-top: 20px; 
    border-radius: 10px;
    background-color: $pure-white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.text {
    font-size: 1.375rem; 
    line-height: 1.5;
    color: $dark-grey-text;
}

h3 {
    font-size: 1.375rem;  
    font-weight: bold;
}

.profile {
    display: flex;
    gap: 25px; 
    margin: 20px 0;  

    .image-container {
        position: relative;
        width: 100%;
        max-width: 280px;  
        aspect-ratio: 346 / 382;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            mask-image: url("/kep/images/frame.svg");
            -webkit-mask-image: url("/kep/images/frame.svg");
            mask-size: cover;
            -webkit-mask-size: cover;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-position: center;
        }

        .overlay {
            position: absolute;
            transform: translate(4%, -7%);
            pointer-events: none;
            background: none;
        }
    }

    .info {
        width: 100%;
        padding-top: 20px;  

        .name {
            background-color: $light-grey-bg;
            padding: 5px 0;  
            font-weight: 500;
            font-size: 1.3125rem;  
            display: inline-block;
            margin-bottom: 20px; 
        }

        .bold-info {
            font-weight: 500;
        }

        p {
            font-size: 1.25rem;  
            line-height: 1.4;
        }

        a {
            color: $blue;
            text-decoration: none;
        }
    }
}

.pschl-hotline {
    padding: 10px 10px 90px 10px;
}

.hotline {
    display: flex;
    align-items: center;
    gap: 15px;  
    padding: 60px 20px;  
    background: $blue;
    border-radius: 17px;
    color: white;

    .hotline__text {
        display: flex;
        flex-direction: column;
        gap: 15px;  
    }

    &__icon {
        width: 60px; 
        height: 60px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border: 8px solid $pure-white;  

        border-radius: 50%;
        i {
            font-size: 2rem;  
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: bold;
        font-size: 1.625rem;  
    }

    &__number {
        font-size: 1.375rem;  
        opacity: 0.8;
    }

    &:hover {
        transform: translateY(-2px);
        transition: 0.3s;
    }
}

.card {
    background: $pure-white;
    border-radius: 20px;
    padding: 40px 16px 5px 16px;
    width: 100%;

    .title {
        font-weight: bold;
        font-size: 1.375rem;  
        margin-bottom: 20px;  
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 20px 0; 
            font-size: 1.25rem; 
            border-top: 1px solid $light-grey-bg;
        }
    }
}

.edu_act-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

@media (min-width: 1600px) {
    .sub-headline-wrapper {
        max-width: 1575px;
    }
}
