@import "./variables";

.topbar {
    display: none;
}

@media screen and (min-width: 1124px) { 
    .topbar {
        transition: all 0.4s linear; 
        display: block;
        background: linear-gradient(90deg, $secondary 0%, $secondary 40%, rgba(86,134,238,1) 40%, rgba(90,131,237,1) 100%);
        .container {
            display: flex;
            flex-direction: row;
        }
    }
    .topbar_section {
        display: flex;
        padding: 16px 0;
        align-items: center;
        color: $white;
        &:nth-child(1) {
            width: 40%;
            justify-content: flex-start;
            gap: 16px;
            font-weight: 600;
            i {
                font-size: 24px;
            }
        }
        &:nth-child(2) {
            width: 60%;
            justify-content: flex-end;
            > div {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 0 20px;
                &:not(:last-of-type) {
                    border-right: 1px solid $white;
                    i {
                        font-size: 20px;
                    }
                }
                &:last-of-type {
                    i {
                        font-size: 18px;
                    }
                    padding-right: 0;
                }
            }
        }
        a {
            color: $white;
        }
        
    }
}