$pure-white: #fff;
$white: #fbfbfb;
$grey: #D4D4D4;
$dark-grey: #B5B5B5;
$light-blue: #00c0ff;
$blue: #5a83ed;
$dark-blue: #332B49;
$black: #141414;


$text-light: $white;
$text-dark: $black;
$primary: $blue;
$secondary: $light-blue;
$border: $grey;

//psychologist
$faq-light-blue: #f3f6ff;
$faq-blue: #b4c6fc;
$dark-grey-text: #333;
$light-grey-bg: #eeeeee;


