@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.topbar {
  display: none;
}

@media screen and (min-width: 1124px) {
  .topbar {
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(rgb(0, 192, 255)), color-stop(40%, rgb(15, 182, 252)), color-stop(40%, rgb(86, 134, 238)), to(rgb(90, 131, 237)));
    background: linear-gradient(90deg, rgb(0, 192, 255) 0%, rgb(15, 182, 252) 40%, rgb(86, 134, 238) 40%, rgb(90, 131, 237) 100%);
  }
  .topbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topbar_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fbfbfb;
  }
  .topbar_section:nth-child(1) {
    width: 40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 16px;
    font-weight: 600;
  }
  .topbar_section:nth-child(1) i {
    font-size: 24px;
  }
  .topbar_section:nth-child(2) {
    width: 60%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .topbar_section:nth-child(2) > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    padding: 0 20px;
  }
  .topbar_section:nth-child(2) > div:not(:last-of-type) {
    border-right: 1px solid #fbfbfb;
  }
  .topbar_section:nth-child(2) > div:not(:last-of-type) i {
    font-size: 20px;
  }
  .topbar_section:nth-child(2) > div:last-of-type i {
    font-size: 18px;
  }
  .topbar_section a {
    color: #fbfbfb;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body {
  height: 2000px;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fbfbfb;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  color: #141414;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  font-size: 1rem;
}
nav::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  bottom: -1px;
  right: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #D4D4D4;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease;
}
nav:has(.nav-active) .fa-xmark {
  display: block;
  font-size: 2rem;
}
nav:has(.nav-active) .fa-bars {
  display: none;
}
nav:has(.nav-active)::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .fa-xmark {
  display: none;
}
nav .fa-bars {
  display: block;
  font-size: 1.5rem;
}
nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}
nav .nav-links {
  position: absolute;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: calc(100vh - 75px);
  width: 100%;
  top: 75px;
  right: 0;
  row-gap: 1.5rem;
  background-color: #fbfbfb;
  list-style: none;
  padding: 30px;
  -webkit-transition: all linear 0.6s;
  transition: all linear 0.6s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow-y: scroll;
}
nav .nav-links::-webkit-scrollbar {
  display: none;
}
nav .nav-links.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .nav-links > li {
  text-align: right;
}
nav .nav-links a, nav .nav-links span {
  text-decoration: none;
  color: #141414;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}
nav .nav-links a.active, nav .nav-links span.active {
  color: #5a83ed;
}
nav .logo {
  width: 100px;
  max-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .icon {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
nav .search-button i {
  font-size: 1.25rem;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  color: #5a83ed;
}
nav .burger {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .burger i {
  color: #5a83ed;
}
nav .dropdown {
  width: 100%;
  position: relative;
  cursor: pointer;
}
nav .dropdown i {
  font-size: 0.75rem;
}
nav .dropdown.open .dropdown-menu {
  margin-top: 1.5rem;
  display: block;
}
nav .dropdown-menu {
  position: relative;
  display: none;
  right: 18px;
  margin-top: 0;
}
nav .dropdown-menu::after {
  content: "";
  display: block;
  height: 100%;
  width: 0.5px;
  border-radius: 1px;
  background-color: #B5B5B5;
  position: absolute;
  right: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav .dropdown-menu li {
  padding: 5px 0;
  line-height: 125%;
}
nav .container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#search {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: hidden;
  z-index: 1000;
}
#search.active {
  visibility: visible;
}
#search.active .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
#search.active input {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
#search.active #close-search {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
#search input {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  line-height: 150%;
  outline: none;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#close-search {
  position: absolute;
  background-color: #5a83ed;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fbfbfb;
  font-size: 24px;
  height: 48px;
  width: 48px;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
}

@media screen and (min-width: 1124px) {
  #search input {
    width: 60%;
  }
  nav .nav-links {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    max-width: none;
    width: auto;
    height: auto;
    padding: 0;
    overflow: visible;
  }
  nav .nav-links li {
    width: auto;
  }
  nav .nav-links li a, nav .nav-links li span {
    width: auto;
    pointer-events: all;
  }
  nav .dropdown:hover > .dropdown-menu {
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  nav .dropdown:nth-last-of-type(1) > .dropdown-menu {
    max-width: 220px;
  }
  nav .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    top: calc(100% - 5px);
    left: -15px;
    min-width: calc(100% + 30px);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-top: 35px;
    cursor: default;
    z-index: -1;
  }
  nav .dropdown-menu li {
    position: relative;
    padding: 10px 25px 10px 15px;
    cursor: pointer;
    border-top: 1px solid #fbfbfb;
    background-color: #5a83ed;
  }
  nav .dropdown-menu li::before {
    content: "//";
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    top: 10.5px;
    color: #fbfbfb;
    opacity: 0;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
  }
  nav .dropdown-menu li:hover::before {
    opacity: 1;
  }
  nav .dropdown-menu li:hover a {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  nav .dropdown-menu li:first-child {
    border-top: 2px solid #D4D4D4;
  }
  nav .dropdown-menu li a {
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
    color: #fbfbfb;
    line-height: 150%;
  }
  nav .dropdown-menu::after {
    display: none;
  }
  nav .burger {
    display: none;
  }
  nav .logo {
    width: 140px;
    max-height: 70px;
  }
}
@media screen and (min-width: 1440px) {
  nav .container {
    padding: 15px 0;
  }
  nav .dropdown .dropdown-menu {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
:root {
  --swiper-theme-color: $white;
}

.hero-section {
  overflow: hidden;
  color: #fbfbfb;
}
.hero-section h1 {
  font-size: 1rem;
}
.hero-section h2 {
  font-size: 2rem;
  font-weight: 600;
}
.hero-section p {
  line-height: 150%;
}
.hero-section .swiper-hero {
  position: relative;
}
.hero-section .swiper-slide {
  width: 100%;
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 60px 0;
  aspect-ratio: 1/1.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-section .swiper-slide .container {
  width: 100%;
}
.hero-section .swiper-slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 845px;
}
.hero-section .swiper-slide .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 10px;
}
.hero-section .swiper-slide .image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.hero-section .swiper-slide .image-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #332B49;
  opacity: 0.5;
}
.hero-section .swiper-slide .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero-section .swiper-slide p {
  display: none;
}
.hero-section .swiper-button-prev {
  left: 45px;
}
.hero-section .swiper-button-next {
  right: 45px;
}
.hero-section .swiper-button-prev, .hero-section .swiper-button-next {
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background-color: rgba(251, 251, 251, 0.4901960784);
  border-radius: 50%;
}
.hero-section .swiper-button-prev i, .hero-section .swiper-button-next i {
  font-size: 24px;
}
.hero-section .swiper-button-prev::after, .hero-section .swiper-button-next::after {
  content: "";
  position: absolute;
}
.hero-section .swiper-pagination {
  bottom: 30px;
}
.hero-section .swiper-pagination-bullet {
  background-color: #fbfbfb;
}
.hero-section .swiper-pagination-bullet-active-prev-prev, .hero-section .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.hero-section .swiper-pagination-bullet-active-prev, .hero-section .swiper-pagination-bullet-active-next {
  opacity: 0.6;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (min-width: 424px) {
  .hero-section .swiper-slide p {
    display: block;
  }
}
@media screen and (min-width: 1124px) {
  .hero-section h2 {
    font-size: 3rem;
  }
  .hero-section .swiper-slide {
    max-height: 83vh;
    aspect-ratio: 9/5;
    padding: 190px 160px;
  }
  .hero-section .swiper-slide .content {
    gap: 25px;
  }
  .hero-section .swiper-slide .content > div {
    gap: 35px;
  }
  .hero-section .swiper-button-prev, .hero-section .swiper-button-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.cards-section h2 {
  margin-bottom: 32px;
  margin-top: 100px;
  color: #141414;
}
.cards-section .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards-section .card {
  cursor: pointer;
  display: inline-block;
  border-radius: 20px 20px 20px 0;
  background-color: #fff;
  -webkit-box-shadow: -2px 2px 40px rgba(222, 222, 222, 0.25);
          box-shadow: -2px 2px 40px rgba(222, 222, 222, 0.25);
  padding: 20px 20px 10px 20px;
}
.cards-section .card:hover > h3 {
  background-size: 100% 2px;
  color: inherit;
  color: #5a83ed;
}
.cards-section .card:hover > .image-wrapper::after {
  opacity: 0.1;
}
.cards-section .card:hover > .image-wrapper img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
.cards-section .card .image-wrapper {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.cards-section .card .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.4s linear all;
  transition: 0.4s linear all;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cards-section .card .image-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0;
  background-color: #332B49;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
.cards-section .card h3 {
  display: inline;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5a83ed), to(#5a83ed));
  background-image: linear-gradient(#5a83ed, #5a83ed);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  -webkit-transition: background-size 500ms ease-in-out, color 0.5s linear;
  transition: background-size 500ms ease-in-out, color 0.5s linear;
  font-weight: 600;
  line-height: 125%;
}
.cards-section .date-tag {
  padding-left: 45px;
}
.cards-section .date-tag::before {
  content: url(../images/calendar.svg);
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#announcements .wrapper {
  margin-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
#announcements .card {
  width: 100%;
  text-align: center;
  display: none;
}
#announcements .card:nth-child(1), #announcements .card:nth-child(2) {
  display: inline-block;
}
#announcements .card .image-wrapper {
  margin-bottom: 20px;
}
#announcements .card p {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #D4D4D4;
}

#news .container {
  margin-bottom: 100px;
}
#news p {
  margin: 20px 0 10px;
}
#news .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
#news .card {
  padding-bottom: 20px;
}
#news .card.hidden {
  display: none;
}

#events .container {
  margin-bottom: 100px;
}
#events .wrapper {
  margin-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
#events .card {
  position: relative;
  width: 100%;
  display: none;
}
#events .card:nth-child(1), #events .card:nth-child(2) {
  display: inline-block;
}
#events .card .image-wrapper {
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 0;
}

.tag {
  position: absolute;
  top: 50px;
  right: -10px;
  background-color: #5a83ed;
  border-radius: 25px 25px 25px 0;
  padding: 10px;
  color: #fbfbfb;
  font-weight: 500;
}

#links .wrapper {
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#links .square-card {
  width: 100%;
  aspect-ratio: 2/1;
}
#links .square-card:nth-child(1) {
  background-color: #5A83ED;
}
#links .square-card:nth-child(2) {
  background-color: #FFFFFF;
}
#links .square-card:nth-child(3) {
  background-color: #B88F64;
}

@media screen and (min-width: 450px) {
  #announcements .card {
    width: calc(50% - 20px);
  }
  #links .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #links .square-card {
    width: calc(33% - 20px);
  }
}
@media screen and (min-width: 550px) {
  #announcements .card {
    width: calc(50% - 20px);
  }
  #events .card {
    width: calc(50% - 20px);
  }
}
@media screen and (min-width: 600px) {
  #news .wrapper {
    grid-template-columns: repeat(auto-fit, calc(50% - 10px));
  }
}
@media screen and (min-width: 760px) {
  #announcements .card {
    width: calc(33% - 25px);
  }
  #announcements .card:nth-child(3) {
    display: inline-block;
  }
  #events .card {
    width: calc(33% - 25px);
  }
  #events .card:nth-child(3) {
    display: inline-block;
  }
}
@media screen and (min-width: 1170px) {
  .cards-section .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #announcements .card {
    width: calc(25% - 30px);
  }
  #announcements .card:nth-child(4) {
    display: inline-block;
  }
  #news .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 32%));
    grid-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1300px) {
  .tag {
    right: -30px;
  }
}
@media screen and (min-width: 1600px) {
  #announcements .card {
    width: calc(20% - 32px);
  }
  #announcements .card:nth-child(5) {
    display: inline-block;
  }
}
.full-width-section {
  position: relative;
  color: #fbfbfb;
  background: url(../images/bg.png) no-repeat center center;
  background-size: cover;
  z-index: 1;
}
.full-width-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 132, 237, 0.65);
  z-index: -1;
}
.full-width-section h1 {
  font-family: "Montserrat", "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
.full-width-section p {
  cursor: default;
}

#bigNums .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
#bigNums dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#bigNums dl > div {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#bigNums dl > div:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#bigNums dl > div:hover .polygon {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#bigNums dl > div::after {
  content: "";
  background: url(../images/Polygon4.png) no-repeat;
  width: 112px;
  height: 105px;
  position: absolute;
  z-index: -1;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-transition: 0.6s all linear;
  transition: 0.6s all linear;
}
#bigNums dl .polygon {
  position: relative;
  background: url(../images/Polygon3.png) no-repeat;
  width: 112px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: 0.6s all linear;
  transition: 0.6s all linear;
  z-index: 2;
}
#bigNums dt {
  font-size: 2rem;
  font-weight: 500;
}
#bigNums dd {
  font-size: 1rem;
  font-weight: 500;
}

#moreInfo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
#moreInfo .content {
  text-align: center;
}
#moreInfo p {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  #bigNums dl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #bigNums dl > div {
    width: calc(25% - 23px);
  }
}
@media screen and (min-width: 1170px) {
  .full-width-section h1 {
    font-size: 4rem;
  }
  #bigNums dl {
    gap: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #bigNums dl > div::after {
    background: url(../images/Polygon2.png) no-repeat;
    width: 140px;
    height: 131px;
  }
  #bigNums dl .polygon {
    background: url(../images/Polygon\ 4.png) no-repeat;
    width: 140px;
    height: 131px;
  }
  #bigNums dt {
    font-size: 3rem;
    font-weight: 600;
  }
  #bigNums dd {
    font-size: 2rem;
    font-weight: 600;
  }
  #moreInfo .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #moreInfo .content {
    text-align: left;
  }
  #moreInfo p {
    font-size: 2rem;
  }
}
.slide[data-animated=true] {
  overflow: hidden;
}

.slide[data-direction=right] {
  --animation-direction: reverse;
}

.slide[data-direction=left] {
  --animation-direction: forwards;
}

.slide[data-animated=true] .wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: scroll 30s var(--animation-direction, forwards) linear infinite;
          animation: scroll 30s var(--animation-direction, forwards) linear infinite;
}

@-webkit-keyframes scroll {
  to {
    -webkit-transform: translate(calc(-50% - 0.5rem));
            transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes scroll {
  to {
    -webkit-transform: translate(calc(-50% - 0.5rem));
            transform: translate(calc(-50% - 0.5rem));
  }
}
.slider-section {
  position: relative;
}
.slider-section h2 {
  margin-bottom: 32px;
  margin-top: 100px;
  color: #141414;
}
.slider-section .wrapper {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-section .square-card {
  width: 25%;
  min-width: 200px;
  max-width: 250px;
  min-height: 100px;
  max-height: 150px;
}
.slider-section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.square-card a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.square-card img {
  max-height: 80%;
  max-width: 75%;
}
.square-card:nth-child(14n+1) {
  background-color: #32315D;
}
.square-card:nth-child(14n+2) {
  background-color: #FFFFFF;
}
.square-card:nth-child(14n+3) {
  background-color: #141414;
}
.square-card:nth-child(14n+4) {
  background-color: #FFFFFF;
}
.square-card:nth-child(14n+5) {
  background-color: #01011e;
}
.square-card:nth-child(14n+6) {
  background-color: #21aae6;
}
.square-card:nth-child(14n+7) {
  background-color: #fafafa;
}
.square-card:nth-child(14n+8) {
  background-color: #2a4f70;
}
.square-card:nth-child(14n+9) {
  background-color: #FFFFFF;
}
.square-card:nth-child(14n+10) {
  background-color: #fafafa;
}
.square-card:nth-child(14n+11) {
  background-color: #fcfcfc;
}
.square-card:nth-child(14n+12) {
  background-color: #212121;
}
.square-card:nth-child(14n+13) {
  background-color: #fafafa;
}
.square-card:nth-child(14n+14) {
  background-color: #fcfcfc;
}

@media screen and (min-width: 890px) {
  .slider-section .square-card {
    min-width: 280px;
    min-height: 170px;
  }
}
.aside-grid {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 66% minmax(350px, 33%);
  grid-template-rows: 1fr;
  grid-template-areas: "main aside";
  gap: 32px;
}

#full-news {
  grid-area: main;
}
#full-news aside {
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#full-news .wrapper {
  width: 100%;
}

.news-card {
  cursor: pointer;
  padding: 32px 24px;
  margin-bottom: 32px;
  width: 100%;
}
.news-card:hover > h3 {
  background-size: 100% 2px;
  color: inherit;
  color: #5a83ed;
}
.news-card:hover > .image-wrapper::after {
  opacity: 0.1;
}
.news-card:hover > .image-wrapper img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
.news-card .image-wrapper {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.news-card .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.4s linear all;
  transition: 0.4s linear all;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.news-card .image-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #332B49;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
.news-card h3 {
  display: inline;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5a83ed), to(#5a83ed));
  background-image: linear-gradient(#5a83ed, #5a83ed);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  -webkit-transition: background-size 500ms ease-in-out, color 0.5s linear;
  transition: background-size 500ms ease-in-out, color 0.5s linear;
  font-weight: 600;
  line-height: 125%;
}

#lastEvents {
  padding: 24px;
}
#lastEvents h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 24px;
}
#lastEvents .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
#lastEvents .event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
#lastEvents .event-card .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
#lastEvents .event-card .time span {
  font-size: 0.75rem;
}
#lastEvents .event-card .time i {
  color: #5a83ed;
}
#lastEvents .event-card h3 {
  font-weight: 600;
}

.date-tag {
  color: #fbfbfb;
  background-color: #5a83ed;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 10px 5px;
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}
.date-tag span {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.search-form {
  position: relative;
  padding: 44px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-form label {
  font-weight: 600;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(1em, 0);
          transform: translate(1em, 0);
  color: #dedede;
  font-weight: 600;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.search-form i {
  font-size: 1rem;
}
.search-form input {
  width: calc(100% - 26px);
  color: #141414;
  border: none;
  outline: none;
  border-bottom: 2px solid #dedede;
  padding: 0.5em 1em;
}
.search-form:not(:has(input:-moz-placeholder-shown)) > label {
  font-size: 0.75rem;
  transform: translate(0, calc(-100% - 0.5rem));
  color: #dedede;
  font-weight: 600;
}
.search-form:not(:has(input:-ms-input-placeholder)) > label {
  font-size: 0.75rem;
  transform: translate(0, calc(-100% - 0.5rem));
  color: #dedede;
  font-weight: 600;
}
.search-form:has(input:focus) > label, .search-form:not(:has(input:placeholder-shown)) > label {
  font-size: 0.75rem;
  -webkit-transform: translate(0, calc(-100% - 0.5rem));
          transform: translate(0, calc(-100% - 0.5rem));
  color: #dedede;
  font-weight: 600;
}

footer {
  position: relative;
  color: #fbfbfb;
  background-color: #5a83ed;
  padding: 50px 0;
  overflow-x: hidden;
}
footer p {
  font-weight: 600;
  cursor: default;
}
footer a {
  color: inherit;
  line-height: 150%;
}
footer *::-moz-selection {
  background-color: #fbfbfb;
  color: #5a83ed;
}
footer *::selection {
  background-color: #fbfbfb;
  color: #5a83ed;
}
footer .font-size::-moz-selection {
  background-color: #fbfbfb;
  color: #5a83ed;
}
footer .font-size::selection {
  background-color: #fbfbfb;
  color: #5a83ed;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 100%;
}
.footer-top i {
  font-size: 2rem;
  margin-right: 5px;
}
.footer-top > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-top > div p {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-top > div a {
  padding-left: 32px;
}

.footer-bottom {
  position: relative;
  width: calc(100% + 80px);
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 30px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid rgba(251, 251, 251, 0.2666666667);
  border-bottom: 2px solid rgba(251, 251, 251, 0.2666666667);
}
.footer-bottom > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.footer-bottom > div > div {
  border-radius: 50%;
  background-color: #fbfbfb;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
.footer-bottom i {
  font-size: calc(3rem - 20px);
  color: #5a83ed;
  line-height: 3rem;
}

@media screen and (min-width: 835px) {
  footer {
    padding: 64px 0;
  }
  .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 54px;
  }
  .footer-bottom > div {
    gap: 28px;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Poppins", sans-serif;
  background-color: #fbfbfb;
  padding-top: 75px;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, dt::-moz-selection, dd::-moz-selection, dt *::-moz-selection, nav *::-moz-selection {
  background-color: #5a83ed;
  color: #fbfbfb;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
dt::selection,
dd::selection,
dt *::selection,
nav *::selection {
  background-color: #5a83ed;
  color: #fbfbfb;
}

section:not(.hero-section):not(#lastEvents) h2 {
  font-size: 2rem;
  font-weight: 600;
  cursor: default;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.font-size {
  font-size: 1rem;
}

.light-text {
  color: #B5B5B5;
}

.highlight {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#00c0ff), color-stop(67%, #5a83ed));
  background: linear-gradient(90deg, #00c0ff 0%, #5a83ed 67%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  font-weight: 600;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 40px 40px 40px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn i {
  font-size: 1.5rem;
  margin-left: 10px;
}
.btn span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-transparent {
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  color: #5a83ed;
  display: block;
  padding: 15px 25px;
  font-size: 1.1em;
  margin: 0 auto;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 3px #5a83ed solid;
  border-radius: 40px;
}
.btn-transparent:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.btn-primary {
  background: #5a83ed;
  color: #fbfbfb;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.btn-primary::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #fbfbfb;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.6s linear all;
  transition: 0.6s linear all;
}
.btn-primary:hover {
  background-color: #fbfbfb;
  color: #141414;
}
.btn-primary:hover::before {
  width: 500px;
  height: 500px;
}

.btn-secondary {
  background-color: #fbfbfb;
  color: #141414;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.btn-secondary::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #141414;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.6s linear all;
  transition: 0.6s linear all;
}
.btn-secondary:hover {
  color: #fbfbfb;
  background-color: #141414;
}
.btn-secondary:hover::before {
  width: 500px;
  height: 500px;
}

.icon-lg {
  display: none;
}

.block {
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: -2px 2px 40px rgba(222, 222, 222, 0.25);
          box-shadow: -2px 2px 40px rgba(222, 222, 222, 0.25);
}

@media screen and (min-width: 1024px) {
  section:not(.hero-section):not(#lastEvents) h2 {
    font-size: 3rem;
  }
  .font-size {
    font-size: 1.5rem;
  }
  .move-el {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  .btn {
    padding: 20px 40px;
  }
  .btn i {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1124px) {
  body {
    padding-top: 131px;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    padding: 0 10px;
  }
  .move-el {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .icon-sm {
    display: none;
  }
  .icon-lg {
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}/*# sourceMappingURL=style.css.map */