@import "./variables";
@import "./topbar";
@import "./navbar";
@import "./hero-swiper";
@import "./card-section";
@import "./full-section";
@import "./slider";
@import "./news";
@import "./psychologist";
@import "./activity-clubs";
@import "./student-government";
@import "./form";
@import "./aside";
@import "./accordion";
@import "./administration";
@import "./footer";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Montserrat", "Poppins", sans-serif;
    background-color: $white;
    padding-top: 75px;
}

main {
    min-height: calc(100vh + 273px); // -хедер + футер (я геній, знаю) 
    padding-bottom: 655px; //висота футера
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

b {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dt,
dd,
dt *,
nav * {
    &::selection {
        background-color: $primary;
        color: $text-light;
    }
}

section:not(.hero-section):not(#lastEvents):not(.faq-container):not(.tabs-section) h2 {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: default;
}


.container { 
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.font-size {
    font-size: 0.875rem;
}

.light-text {
    color: $dark-grey;
}

.blue-text {
    color: $blue;
}

.highlight {
    display: inline-block;
    background: linear-gradient(90deg, $secondary 0%, $primary 67%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    font-weight: 600;
}

.btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: inline-block;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 40px 40px 40px 0;
    user-select: none;
    i {
        font-size: 1.5rem;
        margin-left: 10px;
    }
    span {
        position: relative;
        display: flex;
        align-items: center;
    }
}

.btn-transparent {
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    color: $primary;
    display: block;
    padding: 15px 25px;
    font-size: 1.1em;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all .2s ease;
    border: 3px $primary solid;
    border-radius: 40px;
    &:active {
        transform: translateY(5px);
    }
}

.btn-primary {
    background: $primary;
    color: $text-light;
    position: relative;
    overflow: hidden;
    transition: .5s linear all;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $white;
        transform: translate(-50%, -50%);
        transition: .6s linear all;
    }
    &:hover {
        background-color: $white;
        color: $text-dark;
        &::before {
            width: 500px;
            height: 500px;
        }
    }
}

.btn-secondary {
    background-color: $white;
    color: $text-dark;
    position: relative;
    overflow: hidden;
    transition: .5s linear all;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $text-dark;
        transform: translate(-50%, -50%);
        transition: .6s linear all;
    }
    &:hover {
        color: $text-light;
        background-color: $text-dark;
        &::before {
            width: 500px;
            height: 500px;
        }
    }
}

.icon-lg {
    display: none;
}

.block {
    border-radius: 30px;
    background-color: #fff;
    box-shadow: -2px 2px 40px rgba(222, 222, 222, 0.25);
}

@media screen and (min-width: 1024px) {
    section:not(.hero-section):not(#lastEvents):not(.faq-container):not(.tabs-section) h2 {
        font-size: 2rem;
    }
    .font-size {
        font-size: 1.5rem;
    }
    .move-el {
        transform: translateY(160px);
    }
    .btn {
        padding: 20px 40px;
        i {
            font-size: 2rem;
        }
    }
}

@media screen and (min-width: 835px) {
    main {
        padding-bottom: 400px;
    }
}

@media screen and (min-width: 1124px) {
    body {
        padding-top: 131px;
    }
    .font-size {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1170px) {
    .container { 
        padding-right: 10px;
        padding-left: 10px;
    }
    .move-el {
        transform: translateY(100px);
    }
    .icon-sm {
        display: none;
    }
    .icon-lg {
        display: block;
    }
}

@media screen and (min-width: 1600px) {
    section:not(.hero-section):not(#lastEvents):not(.tabs-section) h2 {
        font-size: 2.5rem;
    }
    .container { 
        max-width: 1600px;
    }
    .font-size {
        font-size: 1.125rem;
    }
}