@import "./variables";
@import "./background";
@import "./topbar";
@import "./navbar";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", "Poppins", sans-serif;
    padding-top: 80px;
    background-color: $white;
}

a {
    color: inherit;
    text-decoration: none;
    &:visited,
    &:focus {
        color: inherit;
    }
}

.container { 
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 1600px) {
    .container { 
        padding: 0;
    }
}