@-webkit-keyframes moveInCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes moveInCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes moveVertical {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes moveVertical {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@-webkit-keyframes moveHorizontal {
  0% {
    -webkit-transform: translateX(-50%) translateY(-10%);
            transform: translateX(-50%) translateY(-10%);
  }
  50% {
    -webkit-transform: translateX(50%) translateY(10%);
            transform: translateX(50%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-10%);
            transform: translateX(-50%) translateY(-10%);
  }
}
@keyframes moveHorizontal {
  0% {
    -webkit-transform: translateX(-50%) translateY(-10%);
            transform: translateX(-50%) translateY(-10%);
  }
  50% {
    -webkit-transform: translateX(50%) translateY(10%);
            transform: translateX(50%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-10%);
            transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  background: var(--color-bg);
}
.gradient-bg svg:not(.noise) {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.gradient-bg .noise {
  position: absolute;
  height: 100%;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.gradient-bg .gradients-container {
  -webkit-filter: url(#goo) blur(80px);
          filter: url(#goo) blur(80px);
  width: 100%;
  height: 100%;
}
.gradient-bg .g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: moveVertical 30s ease infinite;
          animation: moveVertical 30s ease infinite;
  opacity: 1;
}
.gradient-bg .g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  -webkit-transform-origin: calc(50% - 400px);
          transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}
.gradient-bg .g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  -webkit-transform-origin: calc(50% + 400px);
          transform-origin: calc(50% + 400px);
  -webkit-animation: moveInCircle 40s linear infinite;
          animation: moveInCircle 40s linear infinite;
  opacity: 1;
}
.gradient-bg .g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  -webkit-transform-origin: calc(50% - 200px);
          transform-origin: calc(50% - 200px);
  -webkit-animation: moveHorizontal 40s ease infinite;
          animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}
.gradient-bg .g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  -webkit-transform-origin: calc(50% - 800px) calc(50% + 200px);
          transform-origin: calc(50% - 800px) calc(50% + 200px);
  -webkit-animation: moveInCircle 20s ease infinite;
          animation: moveInCircle 20s ease infinite;
  opacity: 1;
}
.gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-bg: #fdfdf3;
  --color1: 89, 102, 177;
  --color2: 245, 200, 77;
  --color3: 251, 207, 65;
  --color4: 246, 163, 48;
  --color5: 136, 148, 183;
  --color-interactive: 21, 43, 171;
  --circle-size: 80%;
  --blending: hard-light;
}/*# sourceMappingURL=style.css.map */